# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage
/playwright-report
/test-results
/blob-report
/playwright/.cache

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
*.tsbuildinfo

# editor
.vscode/*
!.vscode/extensions.json
.idea
